

body{
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "left right right right right";
    grid-gap: 10px;

}

button {
    
    background-color: rgb(137, 158, 155);
    color: black;
    border-color: rgb(53, 77, 54);
    border-width: 1px;
    width: 100%;
}

#left {
    font-size: 16px;

    overflow-y: scroll;
    position:sticky;
    grid-area: left;

    background-color: rgb(160, 201, 194);

    display: flex;
    flex-direction: column;
    justify-items: center;
}

#left p {
    color: black;
    border-color: black;
}

#create-new {
    height: 100%;
}


/*Form Styles*/
form {
    
    background-color: rgb(39, 68, 37);
    display: none;
}

.active {

    display: flex;
    flex-direction: column;
}

#bar {
    height: 10px;
    background-color: black;
}

.bar {
    height: 10px;
    background-color: black;
}



#right {
    background-color: rgb(137, 158, 155);
    grid-area: right;
   
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    overflow-x: scroll;

    padding:5px;
    align-items: center;
 
 
}

.cover-view {
    font-size: 20px;

    margin-bottom: auto;
    margin-top: auto;

    margin-left: 10px;
    margin-right: 10px;

    border-style: solid;
    border-color:black;

    background-color: rgb(39, 68, 37);
    
    height: 600px;
    width: 300px;
}

.cover-view h1 {
    padding: 2px;
    margin: 2px;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
}

